.icon {
    height: 64px;
    width: 64px;
}

.l-other {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
}

.l-other-line {
    align-items: end;
    justify-content: space-between;
}

link {
    width: 12em;
}
