.main {
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.box {
    justify-content: start;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #525766;
    border-style: solid;
}

.number-text {
    margin-left: 4px;
    margin-right: 6px;
    font-size: 24px;
    text-align: center;
}

.des-text {
    transform: scale(0.75);
    margin-top: 5px;
    font-size: 12px;
    color: #525766;
    text-align: center;
}

.countdown-main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: azure;
    height: fit-content;
}

.countdown-colon {
    margin-top: 5px;
}