.input-field-bg {
    width: min(464px, 80vw);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: azure;
}

.input-field {
    appearance: none;
    padding-left: 25px;
    text-align: left;
    width: 4rem;
    outline: 0;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    flex: 1;
}


.input-field::placeholder {
    color: darkgray;
}

.input-field::-webkit-outer-spin-button, .input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

