.offcanvas-backdrop.show {
    opacity: 1;
    background-color: rgba(15, 23, 42,.5);
    backdrop-filter: blur(10px);
}

.offcanvas-header {
    margin-top: 15px;
    margin-right: 30px;
}

.offcanvas-body {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 45px;
    color: azure;
}

.offcanvas {
    --bs-offcanvas-bg: #232630;
}

.account-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-item-name {
    flex-grow: 0.9;
}

.form-title {
    text-transform: uppercase;
}

.account-text {
    margin-left: 20px;
}

.btn-logout {
    box-sizing: content-box;
    margin-right: -10px;
    width: 39px;
    height: 39px;
    color: #000;
    background: transparent url("../../assets/components/btn_logout.png") center/2em auto no-repeat;
    border: 0;
}