.link-wallet-text {
    margin-right: 50px;
}

.text-logo {
    margin-right: 10px;
    margin-bottom: 4px;
}

.container-style {
    margin-top: 20px;
    width: 80%;
}

.spacer {
    width: 15%;
}

.btn-bind-wallet {
    background: linear-gradient(to right, #5070c4, #a03ec2);
    outline: none;
    border-radius: 15px;
    border-width: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-close {
    background: transparent url("../../assets/components/btn_preoder_infoclose.png") center no-repeat;
}

