.icon {
    height: 64px;
    width: 64px;
}
.foot-box{
    padding: 0 443px 0 360px;
    border-top: 2px solid #E8071B;
}
.l-other {
    width: 100%;
    display: flex;
    flex-direction: inherit;
    align-self: start;
    justify-content: space-between;
}

.l-other-line {
    /* align-items: end;
    justify-content: space-between; */
    flex-direction: column;
    font-size: 18px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #333333;
}

link {
    width: 12em;
}
