.normal-button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: #2b334f;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    min-width: 120px;
    height:48px;
    color: azure;
    font-weight: bold;
}

.normal-button-important {
    background: #873acc;
}

.normal-button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: rgba(255, 212, 1, 0.7);
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.normal-button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.normal-button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #232630;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.normal-button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}