.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E5E5E5;
}

.logo {
    height: 31px;
    width: 147px;
    background-image: url("assets/image/logo.png");
    background-size: cover;
}

.index-content {
    color: #fff;
    background-image: url("assets/image/index/index-header-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-r{
    display: flex;
    align-items: center;
}
.header-r>div{
    position: relative;
    display: flex;
    align-items: center;
}
.header-r img{
    width: 22px;
    height: 22px;
    margin-right: 25px;
}
.tou{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}
.tou img{
    width: 34px;
    height: 34px;
    margin-right: 30px;
}
.mete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #E2231A;
    border-radius: 5px;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #FFFFFF;
    margin-left: 25px;
}
.info{
    position: absolute;
    left: -250px;
    bottom: -171px;
    width: 230px;
    height: 162px;
    background: #FEFEFE;
    border: 1px solid #E1E1E1;
    box-shadow: 3px 5px 4px 0px rgba(211,211,211,0.21);
    border-radius: 10px;
    padding: 0 20px;
}
.info>div:first-child{
    padding: 23px 0 15px 2px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #333333;
    text-align: initial;
    line-height: 16px;
}
.info>div:not(:first-child){
    text-align: initial;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #999999;
    line-height: 13px;
    padding: 10px 0;
    border-top: 1px solid #E5E5E5;
}
.point{
    position: absolute;
    right: 10px;
    top: -4px;
    height: 12px;
    background-color: #D91620;
    font-size: 8px;
    font-family: SourceHanSansCN;
    font-weight: 200;
    color: #FFFFFF;
    padding: 0 3px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.center-box{
    display: flex;
}
.center-box-left{
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-box-left>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
.center-box-left .active{
    background-color: #F2F2F2;
}
.center-box-left img{
    width: 22px;
    height: 22px;
}
.center-box-right{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-box-right img{
    width: 33px;
    height: 27px;
    margin-top: 32px;
}
.center-box-info{
    flex: 1;
    overflow: hidden;
}
.list-box{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 32px;
}
.list-box img{
    width: 45px;
    height: 45px;
    margin-top: 0;
}