.logo {
    height: 37px;
    width: 175px;
    margin: 25px auto auto;
    background-image: url("assets/image/logo.png");
}

.index-content {
    color: #fff;
    background-image: url("assets/image/index/index-header-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
}


  