.treeview-header-container {
    display: flex;
    flex-direction: column;

    background: none;
}

.treeview-header-container .header-content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    background: none;
}

.treeview-header-container .header-children {
    margin-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: fit-content;
    transition: all 0.5s ease;
}

.treeview-header-container .header-button {
    font-size: 1.0em;
    font-weight: bold;
    color: #0d0d18;
    width: 100%;
    border-width: 0;
    text-align: left;

    background: none;
}

.treeview-header-container .header-button-hover {
}

.treeview-item-container {
}

.treeview-item-container .item-button {
    display: flex;
    align-items: stretch;
    font-size: 0.9em;
    font-weight: normal;
    color: #a29ea9;
    min-height: 2.0em;
    width: 100%;
    text-align: left;
    padding: 0;
    background: none;
    border: none;
}

.treeview-item-container .item-button:active {
    border-left-style: solid;
    border-left-color: #fb2d55;
    border-left-width: 4px;

    transition: all 0.1s ease;
}

.treeview-item-container .item-button:hover {
    color: #fb2d55;

    border-left-style: solid;
    border-left-color: #fb2d55;
    border-left-width: 4px;

    transition: all 0.1s ease;
}

.treeview-item-container .item-text {
    width: fit-content;
    padding-left: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.treeview-item-text-hover {
}


