p {
    margin: 0;
}

.t-box {
    color: azure;
    padding-left: 13%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.t-box img{
    width: 321px;
    height: 68px;
}

.bo1 {
    position: relative;
    height: 638px;

    background-image: url("assets/image/index/index-header-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;
}
.bo1 .line{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}
.t-button {
    margin-top: 60px;
}

.bo1-button01 {
    cursor: pointer;
    height: 36px;
    width: 200px;

    margin-right: 30px;

    border: none;
    background-color: #fb2d55;
}

.bo1-button02 {
    cursor: pointer;
    height: 36px;
    width: 200px;

    border-width: 1px;
    border-style: solid;
    border-color: azure;
    background: none;
}

.t-dr-default {
    cursor: pointer;
    margin-right: 3%;
}

.t-dr{
    margin-right: 3%;
    cursor: pointer;
    position: relative;
}

.t-dr::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.tb-content {
    background-image: url("assets/image/index/trangles.png");
    background-repeat: no-repeat;
    background-position: top;
}

.n-box {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
}

.n-box1 {
    background-image: url("assets/image/index/icons-bg.png");
    background-repeat: repeat;

    height: fit-content;
}

.event-box {
    background-image: url("assets/image/index/index-example-img01.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    height: 300px;
    width: 32%;
    color: azure;
    font-size: 36px;
    font-weight: bold;
}

.n-image-box {
    height: 600px;
    width: 32%;
    background-image: url("assets/image/index/index-example-img03.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.n-news-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}

.b-img {
    height: 400px;

    margin-bottom: 50px;

    background-image: url("assets/image/index/index-example-img01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.n-contact-box {
    height: 250px;
    align-items: start;
    justify-content: start;
    margin-bottom: 60px;
}


.content-info{
    padding: 0 295px;
    font-size: 20px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #E2231A;
}
.info1{
    margin-top: 71px;
}
.acti{
    font-size: 36px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333333;
}
.acti-info{
    margin: 30px 0 20px;
    display: flex;
}
.acti-info>div{
    width: 585px;
    height: 300px;
    background-image: url('assets/image/1.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 30px;
}
.acti-info>div:first-child{
    margin-right: 30px;
}
.acti-info .time{
    width: 110px;
    height: 23px;
    background: #E8071B;
    border-radius: 12px;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acti-info .acti-name{
    font-size: 24px;
    font-family: SourceHanSansCN;
    font-weight: bold;
    color: #FFFFFF;
}
.acti-info .acti-tip{
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #FFFFFF;
}

.img-box-info{
    display: flex;
}
.img-box-info>div{
    width: 382px;
    height: 152px;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    border-radius: 15px;
    margin-right: 28px;
    overflow: hidden;
}
.img-box{
    display: flex;
}
.img-box .img{
    width: 150px;
    height: 150px;
    background-image: url('assets/image/2.png');
    background-size: cover;
}
.img-r {
    padding: 10px;
}
.img-r .img-r-1{
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #E8071B;
}
.img-r .img-r-2{
    font-size: 18px;
    font-family: SourceHanSansCN;
    font-weight: 500;
    color: #333333;
    padding: 13px 0 20px;
}
.img-r .img-r-3{
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #999999;
}
.info-left-info{
    margin-top: 128px;
}
.last-info{
    margin-bottom: 96px;
}
.info-left{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.info-left>div{
    flex: 1;
}
.info-left .img1{
    width: 555px;
    height: 412px;
    background-image: url('assets/image/3.png');
    background-size: cover;
}
.info-left .img2{
    width: 428px;
    height: 352px;
    background-image: url('assets/image/4.png');
    background-size: 428px 352px;
    background-repeat: no-repeat;
}
.info-left .img3{
    width: 406px;
    height: 294px;
    background-image: url('assets/image/5.png');
    background-size: cover;
    background-size: 406px 294px;
    background-repeat: no-repeat;
}
.info-left .img4{
    width: 419px;
    height: 345px;
    background-image: url('assets/image/6.png');
    background-size: cover;
    background-size: 419px 345px;
    background-repeat: no-repeat;
}
.info-left .info-left-1{
    padding: 0 0 0 117px;
}
.info-left .info-left-name{
    font-size: 36px;
    font-family: SourceHanSansCN;
    font-weight: bold;
    color: #333333;
}
.info-left .info-left-content{
    font-size: 18px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #999999;
    padding: 21px 0 25px;
}
.info-left .info-left-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 30px;
    background: #E2231A;
    border-radius: 15px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #FFFFFF;
}