.facade {
    flex-direction: column;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgba(15, 23, 42,.5);
    backdrop-filter: blur(5px);
}

.content-container {
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    padding-top: 25vh;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.title-mobile {
    padding-top: 10vh;
}

.title-text {
    font-size: clamp(32px, 2.5vw, 64px);
    color: azure;
}

.title-des-text {
    line-height: 36px;
    margin-left: 26%;
    margin-right: 26%;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: lighter;
    color: azure;
}

.input-area {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
}
