.user-reception-backgound {
    background-color: #f3f3f3 !important;
    flex-direction: column;
    justify-content: space-between;
}

.user-reception-frame {
    background-color: #f3f3f3;
    border-radius: 20px;
    height: fit-content;
    /* width: clamp(22em, 25vw, 50em); */

    align-self: center;
    justify-self: center;
}

.user-reception-content-container {
    height: fit-content;
    width: 100%;
    padding: 10%;

    display: flex;
    flex-direction: column;
}

.user-reception-title {
    color: azure;
    font-size: 32px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-reception-form-item {
    display: flex;
    flex-direction: column;
}

.user-reception-input {
    outline: none;
    background: none;

    border-style: solid;
    border-color: #9da7c8;
    border-radius: 8px;
    border-width: 1px;

    padding-left: 20px;
    padding-right: 20px;

    height: 48px;
}

.user-reception-input::placeholder {
    color: darkgray;
}
