.user-reception-backgound {
    background-color: #f3f3f3 !important;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.user-reception-frame {
    background-color: #fff;
    border-radius: 20px;
    width: 402px;
}

.user-reception-content-container {
    margin-top: 44px;
}

.user-reception-title {
    color: fff;
    font-size: 32px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pwd{
    position: relative;
    margin-top: 17px;
}
.eye{
    position: absolute;
    right: 50px;
    top: 40px;
    width: 20px;
    height: 16px;
}

.user-reception-form-item {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 45px;
}

.Remember{
    justify-content: flex-end;
    padding: 12px 46px 22px 0;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #0083FF;
}

.btn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 33px 0 40px !important;
    height: 35px !important;
    background: #E2231A !important;
    border-radius: 18px !important;
    font-size: 16px !important;
    font-family: SourceHanSansCN !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
}
.wallet-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 33px 0 40px;
    height: 35px;
    border: 1px solid #E1E1E1;
    border-radius: 18px;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #666666;
}
.wallet-btn img{
    width: 22px;
    height: 22px;
    margin-right: 17px;
}
.more{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #C9C9C9;
    margin: 34px 0 28px;
}
.tip{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #C9C9C9;
    margin: 20px 0 20px;
}
.more::after{
    content: '';
    width: 124px;
    height: 1px;
    /* border: 1px solid #E5E5E5; */
    background-color: #E5E5E5;
    position: absolute;
    left: 40px;
    top: 6px;
}
.more::before{
    content: '';
    width: 124px;
    height: 1px;
    /* border: 1px solid #E5E5E5; */
    background-color: #E5E5E5;
    position: absolute;
    right: 33px;
    top: 6px;
}

.ifno{
    padding: 25px 39px 35px 41px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #0083FF;
}

.user-reception-form-item .name{
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #333333;
    margin-bottom: 6px;
}

.user-reception-input {
    outline: none;
    background: none;

    border-style: solid;
    border-color: #E1E1E1;
    border-radius: 8px;
    border-width: 1px;

    padding-left: 20px;
    padding-right: 20px;

    height: 42px;
}

.user-reception-input::placeholder {
    color: darkgray;
}

.agreement{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: SourceHanSansCN;
    font-weight: 300;
    color: #666;
    margin: 30px 0 40px;
    align-items: center;
}

.agreement input{
    margin-right: 10px;
}
.agree-info{
    color: #0083FF;
    border-bottom: 1px solid #0083FF;
}