.spliter-dark-3px {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2b2e37;
    height: 3px;
}

.spliter-dark-2px {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2b2e37;
    height: 2px;
}

.spliter-dark-1px {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2b2e37;
    height: 1px;
}

.btn-close {
    background: transparent url("../assets/components/btn_preoder_infoclose.png") center/1em auto no-repeat;
}

.tiny-top-magin {
    margin-top: 3px;
}

.small-top-magin {
    margin-top: 12px;
}

.default-top-magin {
    margin-top: 20px;
}

.big-top-magin {
    margin-top: 32px;
}

.text-normal {
    color: azure;
    font-size: 16px;
    font-weight: lighter;
}

.text-title-1 {
    color: azure;
    font-size: 28px;
    font-weight: bold;
}

.text-title-2 {
    color: azure;
    font-size: 20px;
    font-weight: normal;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-fit {
    height: fit-content;
    width: fit-content;
}

.center-layout {
    align-items: center;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.autoflow-vertical {
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlay-fullscreen {
    opacity: 1;
    background-color: rgba(15, 23, 42,.5);
    backdrop-filter: blur(4px);
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.margin-lr-20 {
    margin-right: 20%;
    margin-left: 20%;
}

.margin-lr-15 {
    margin-right: 15%;
    margin-left: 15%;
}

.margin-lr-10 {
    margin-right: 10%;
    margin-left: 10%;
}