.video-bg-main {
    margin: 0;
    width: 100%;
    height: 99vh;
    z-index: -1;
}

video {
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.children {
    z-index: 0;
    width: 100%;
    height: 100%;
}