.transfer-input-box {
    background: none;

    width: 100%;
    height: 48px;
    border-style: solid;
    border-radius: 10px;
    border-color: #525766;
    border-width: 1px;
    outline: none;

    text-align: center;
    color: azure;
}

.transfer-input-box:focus {
    background: #525766;
    border-style: solid;
    border-color: azure;
}

.transfer-input-box::placeholder {
    text-align: center;
    color: #525766;
    font-weight: lighter;
}

.transfer-input-box::-webkit-outer-spin-button, .transfer-input-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.transfer-des {
    margin-top: 20px;
}
