.payment-overlay-center {
    align-items: center;
    flex-direction: row;
}

.payment-check-des {
    margin-top: 20px;
}

.payment-bottom-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.payment-major-tip {
    color: azure;
    font-size: 2.0em;
    font-weight: bolder;
}

.payment-icon {
    margin-right: 20px;
}

.btn-close {
    height: 8px;
    width: 8px;
}
