.pop-window-frame {
    background-color: #2d313d;
    border-radius: 20px;
    height: fit-content;
    width: 36em;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pop-window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #23262f;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;

    color: azure;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.pop-window-content {
    height: 100%;
    width: 100%;
    padding: 5% 3em 6%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}