p {
    margin: 0;
}

.t-box {
    color: azure;
    padding-left: 13%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bo1 {
    height: 800px;

    background-image: url("assets/image/index/index-header-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.t-button {
    margin-top: 60px;
}

.bo1-button01 {
    cursor: pointer;
    height: 36px;
    width: 200px;

    margin-right: 30px;

    border: none;
    background-color: #fb2d55;
}

.bo1-button02 {
    cursor: pointer;
    height: 36px;
    width: 200px;

    border-width: 1px;
    border-style: solid;
    border-color: azure;
    background: none;
}

.t-dr-default {
    cursor: pointer;
    margin-right: 3%;
}

.t-dr{
    margin-right: 3%;
    cursor: pointer;
    position: relative;
}

.t-dr::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.tb-content {
    background-image: url("assets/image/index/trangles.png");
    background-repeat: no-repeat;
    background-position: top;
}

.n-box {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
}

.n-box1 {
    background-image: url("assets/image/index/icons-bg.png");
    background-repeat: repeat;

    height: fit-content;
}

.event-box {
    background-image: url("assets/image/index/index-example-img01.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;

    height: 300px;
    width: 32%;
    color: azure;
    font-size: 36px;
    font-weight: bold;
}

.n-image-box {
    height: 600px;
    width: 32%;
    background-image: url("assets/image/index/index-example-img03.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.n-news-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}

.b-img {
    height: 400px;

    margin-bottom: 50px;

    background-image: url("assets/image/index/index-example-img01.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.n-contact-box {
    height: 250px;
    align-items: start;
    justify-content: start;
    margin-bottom: 60px;
}


