.white-paper-facade {
    min-height: 100vh;
    font-family: standards-font, system-ui;
}

.white-paper-facade .tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 12px;
    padding-left: 24%;
    padding-right: 24%;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dfdee1;
}

.white-paper-facade .tab-container-mobile {
    padding-left: 5%;
    padding-right: 5%;
}

.white-paper-facade .tab-button {
    --under-width: 3px;
    font-size: 1.1em;
    font-weight: normal;
    background: none;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 0;

    border: none;
    border-bottom-style: solid;
    border-bottom-width: var(--under-width);
    border-bottom-color: #fd2d55;
    translate: 0 var(--under-width);
}

.white-paper-facade .wt-search-bar {
    justify-self: flex-end;

    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #dddce0;

    padding: 7px 20px 7px 48px;
    margin-bottom: 16px;

    width: min(50vw, 20em);
    height: 40px;
    color: #9da7c8;
}

.white-paper-facade .wt-search-bar:focus {
    outline: transparent;
}

.white-paper-facade .tab-button:hover {
    color: #fd2d55;
}

.white-paper-facade .content-facade {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 40px;
    padding-left: 24%;
    padding-right: 24%;
    height: 88vh;
    width: 100%;
}

.white-paper-facade .content-facade-mobile {
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 24%;
}

.white-paper-facade .mobile-category {
    flex-direction: row;
    display: flex;
}

.white-paper-facade .mobile-category-display {
    width: 84vw;
    transition: all 500ms;
}

.white-paper-facade .mobile-category-Hidden {
    width: 0;
    overflow-y: hidden;
    transition: all 500ms;
}

.white-paper-facade .mobile-category-toggle {
    width: 24px;
    height: 100%;
    background-color: #c0c8e1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    user-select: none;
}

.white-paper-facade .treeview-list {
    padding-top: 40px;
    padding-right: 50px;
    min-width: 250px;
    max-width: 350px;
}

.white-paper-facade .content-root {
    padding-left: 50px;
}

.white-paper-facade .contentbox {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.markdown-box {
    padding: 2% 5%;
    color: #061748;
    overflow-x: hidden;
}

.markdown-box h1 {
    font-size: 2em;
}

.markdown-box h4 {
    font-size: 1.4em;
}

.markdown-box p {
    font-size: 1.0em;
    font-weight: lighter;
}

.markdown-box li::marker {
    white-space: normal;
    content: url('../../assets/icons/li-mark.png');
}

.markdown-box tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

.markdown-box th, td {
    padding: 6px 10px;
    border: 1px solid #dfe2e5;
    min-width: 3.5em;
}

.markdown-box table {
    margin: auto;
}

.markdown-box table tr:nth-child(2n) {
    background: #f6f8fa;
}
